.login {
    padding: 10%;
    height: 100%;
    background-color: rgba(73, 88, 103, 0.9);
}
.loginWrapper {
    float: none;
    min-height: 1px;
    height: 100%;
    width: 100%;
    background-image: url("../../public/background.jpeg");
    background-size: cover;
    position: relative;
}
